<section class="Apropos">
    <div class="container" data-aos="fade-left" data-aos-duration="2000">
        <h2 >Notre histoire</h2>
        <div class="clearfix ">
            <img src="/img/logoLilleDuPacifique.png" class="col-3 float-end img-fluid mb-3 ms-3" alt="Logo Lille du Pacifique" loading="lazy" data-aos="flip-left" data-aos-duration="2000">
            
            <p>Lorem ipsum dolor sit amet consectetur. Tristique vulputate libero tristique non. 
            Justo a aliquam at lectus sem nulla in. Eu posuere lacus pharetra integer. 
            Porttitor ut consectetur pulvinar scelerisque.<br>
            Sagittis scelerisque fermentum diam adipiscing consequat. Sapien mi lacus donec cursus neque 
            lacus. Elit lectus augue metus urna est. Lorem volutpat adipiscing pulvinar in sit. Justo 
            porttitor tempus aenean vitae. Adipiscing eleifend ac ut laoreet consequat orci risus. 
            Nulla est condimentum facilisis et ac ultrices pellentesque augue. Arcu pulvinar sit sodales 
            volutpat arcu amet volutpat. Sodales libero egestas lorem urna.<br>
            Suspendisse nunc eleifend sed risus tempus ultrices tortor pellentesque. Pretium sem lorem nam 
            pharetra tellus duis quam vitae. Etiam feugiat tristique non pellentesque augue tellus turpis 
            maecenas gravida.</p>                
        </div>
    </div>
</section>
