<section class="motPresident">
    <div class="container">
        <div class="col-12 row g-lg-5 align-items-center justify-content-evenly">
            <div class="col-4 col-md-3 col-lg-3">
                <img src="/img/photos/president.png" class="img-fluid" alt="Logo Lille du Pacifique" loading="lazy" >
            </div>
            <div class="col-12 col-md-9 col-lg-8 text-center">
                <h2>Le mot du président</h2>
                <p>Lorem ipsum dolor sit amet consectetur. Tristique vulputate libero tristique non. 
                Justo a aliquam at lectus sem nulla in. Eu posuere lacus pharetra integer. 
                . Porttitor ut consectetur pulvinar scelerisque.<br>
                Sagittis scelerisque fermentum diam adipiscing consequat. Sapien mi lacus donec cursus neque 
                lacus. Elit lectus augue metus urna est.  Arcu pulvinar sit sodales 
                volutpat arcu amet volutpat. Sodales libero egestas lorem urna.<br>
                Sit justo volutpat sed praesent viverra cursus nibh at eu. Lacus enim accumsan leo purus 
                pharetra vitae. Dictum amet lorem justo vel fermentum arcu adipiscing vestibulum. 
                Pulvinar laoreet nisi vulputate et posuere bibendum porttitor tellus. In venenatis dignissim vel gravida 
                convallis ipsum vel risus. Vivamus nibh lacus at ut aliquet faucibus ante. <br>
                Suspendisse nunc eleifend sed risus tempus ultrices tortor pellentesque. Pretium sem lorem nam 
                pharetra tellus duis quam vitae. Etiam feugiat tristique non pellentesque augue tellus turpis 
                maecenas gravida.<p>
            </div>
            
        </div>
        
    </div>
</section>