// assets/styles/composants/carteArticle.scss

// Importer les variables et mixins si nécessaire
@import '../variables';
@import '../mixins';
@import '../global';


.card{
    // max-width: 100%;
    // min-width: 180px;
    border: none !important;
    border-radius: $border-radius-carte;
    margin: $margin-medium;
    box-shadow: $shadow-carte;


    img{
        // width: 100%;
        border-radius: 5rem 0 0 0;  
    }
    
    .card-text{
        max-width: 100%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    a{
        font-size: $font-size-text;
        display: flex;               /* Permet l'alignement horizontal */
        align-items: center;
        justify-content: center;
        gap: $space-medium;
        text-decoration: none;
        text-decoration: none;
        color: $primary-color;
    }

    
}