// assets/styles/composants/carteArticle.scss

// Importer les variables et mixins si nécessaire
@import '../variables';
@import '../mixins';
@import '../global';

.carteArticle{

        border: none !important;
        border-radius: $border-radius-carte-article;
        margin: $margin-medium;
        box-shadow: $shadow-carte;


        img{
            border-radius: 5rem 0 0 0;
        }
        
        .card-body{
            padding: $padding-text;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            color: $secondary-color;

            .card-text{
            max-width: 100%;
        }

            a{
            font-size: $font-size-text;
            display: flex;               /* Permet l'alignement horizontal */
            align-self: flex-end;
            margin-top: auto;
            margin-right: $margin-medium;
            gap: $space-medium;
            color: $primary-color;
        }
        }
    }
