<section class="chiffres">
    <div class="container ">
        <h2 data-aos="fade-in">
            Chiffres clés
        </h2>
        <div class="row">
            <div class="col-md-6 col-lg-3">
                <h6>Lorem ipsum dolor sit amet consectetur.
                </h6>
                <p>Lorem ipsum dolor sit amet consectetur. Pellentesque fringilla ipsum
                    vulputate nibh ultricies odio urna adivquam ac.</p>
            </div>
            <div class="col-md-6 col-lg-3">
            <div>
                <h6>Lorem ipsum dolor sit</h6>
                <p>Lorem ipsum dolor sit</p>
                <p class="nombres">10%</p>
            </div>
            </div>
            <div class="col-md-6 col-lg-3">
            <div>
                <h6>Lorem ipsum dolor sit</h6>
                <p>Lorem ipsum dolor sit</p>
                <p class="nombres">10%</p>
            </div>
            </div>
            <div class="col-md-6 col-lg-3">
            <div>
                <h6>Lorem ipsum dolor sit</h6>
                <p>Lorem ipsum dolor sit</p>
                <p class="nombres">10%</p>
            </div>
            </div>

        </div>
    </div>
</section>