<section class="derniersArticles">
    <div class="container">
        <h2>
            Nos dernières actions
        </h2>
        <div class="scroll">
        
            <ul >
                <li>
                    {% include 'composants/carteArticle.html.twig'%}
                </li>
                <li>
                    {% include 'composants/carteArticle.html.twig'%}
                </li>
                <li>
                    {% include 'composants/carteArticle.html.twig'%}
                </li>                
            </ul>
        </div>        
    </div>
</section>