<section class="eroHeader">

    <div class="eroHeader_img">
        <div><img src="https://picsum.photos/id/28/480/300" alt="cagou" loading="lazy" ></div>
        <div><img src="https://picsum.photos/id/29/480/300" alt="" loading="lazy" ></div>
        <div><img src="https://picsum.photos/id/37/480/300" alt="" loading="lazy" ></div>         
    </div>
    <div class="eroHeader_content container">
        <h1 class="title" data-aos="fade-right" data-aos-duration="2000">Bienvenue à Lille du Pacifique</h1>
        <div class="eroHeader_info">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed condimentum felis eu turpis malesuada, at tristique tellus varius. Morbi sed justo id metus consectetur tempus. Aliquam erat volutpat. Quisque vel neque vel justo facilisis venenatis.</p>
            <div> 
                <ul>
                    <li>Lorem ipsum dolor sit amet,</li>
                    <li>Lorem ipsum dolor sit amet,</li>
                    <li>Lorem ipsum dolor sit amet,</li>
                </ul>    
            </div>
            <div class="button_container">
                <button type="button" class="button-primary">Rejoins la bande!</button>
                <button type="button" class="button-secondary">Tu veux en savoir plus ?</button>
            </div>
        </div>
    </div>
</section>