<section class="temoignages">
    <div class="container">
        <h2 data-aos="fade-right" data-aos-duration="2000">
            Ce qu'ils pensent de nous
        </h2>
        <div class="content row justify-content-between">
            <div class="item col-12 col-md-6 col-lg-3 mb-4 d-flex">
                <div>
                    <span class="material-symbols-outlined">format_quote</span>
                    <p>Lorem ipsum dolor sit amet consectetur. Pellentesque fringilla ipsum vulputate nibh ultricies odio urna aliquam ac.</p>
                    <h6>Lorem ipsum dolor</h6>
                </div>
            </div>
            <div class="item col-12 col-md-6 col-lg-3 mb-4 d-flex">
                <div>
                    <span class="material-symbols-outlined">format_quote</span>
                    <p>Lorem ipsum dolor sit amet consectetur. Pellentesque fringilla ipsum vulputate nibh ultricies odio urna aliquam ac.</p>
                    <h6>Lorem ipsum dolor</h6>
                </div>
            </div>
            <div class="item col-12 col-md-6 col-lg-3 mb-4 d-flex">
                <div>
                    <span class="material-symbols-outlined">format_quote</span>
                    <p>Lorem ipsum dolor sit amet consectetur. Pellentesque fringilla ipsum vulputate nibh ultricies odio urna aliquam ac.</p>
                    <h6>Lorem ipsum dolor</h6>
                </div>
            </div>
            <div class="item col-12 col-md-6 col-lg-3 mb-4 d-flex">
                <div>
                    <span class="material-symbols-outlined">format_quote</span>
                    <p>Lorem ipsum dolor sit amet consectetur. Pellentesque fringilla ipsum vulputate nibh ultricies odio urna aliquam ac.</p>
                    <h6>Lorem ipsum dolor</h6>
                </div>
            </div>
        </div>        
    </div>
</section>