
<!-- Image en bandeau au-dessus du footer -->
<div class="footer-banner">
  <img src="/img/Tapa.svg" alt="Bandeau" class="img-fluid w-100" loading="lazy" >
</div>



  <!-- Footer -->
  <footer class="text-center text-white" >
    <!-- Grid container -->
    <div class="container">
      <!-- Section: Links -->
      <section class="mt-5">
        <!-- Grid row-->
        <div class="row text-center d-flex justify-content-center pt-5">
          <!-- Grid column -->
          <div class="col-md-2">
            <h6 class=" font-weight-bold">
              <a href="{{ path('association')}}" class="text-white">A propos</a>
            </h6>
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-2">
            <h6 class=" font-weight-bold">
              <a href="{{ path('login')}}" class="text-white">S'inscrire</a>
            </h6>
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-2">
            <h6 class="font-weight-bold">
              <a href="{{ path('actualites')}}" class="text-white">Actualités</a>
            </h6>
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-2">
            <h6 class=" font-weight-bold">
              <a href="#!" class="text-white">Mentions Légales</a>
            </h6>
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-2">
            <h6 class=" font-weight-bold">
              <a href="#!" class="text-white">Contact</a>
            </h6>
          </div>
          <!-- Grid column -->
        </div>
        <!-- Grid row-->
      </section>
      <!-- Section: Links -->

      <hr class="my-5" />

      <!-- Section: Text -->
      <section class="mb-5">
        <div class="row d-flex justify-content-center">
          <div class="col-lg-8">
            <p class="text-white">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt
              distinctio earum repellat quaerat voluptatibus placeat nam,
              commodi optio pariatur est quia magnam eum harum corrupti
              dicta, aliquam sequi voluptate quas.
            </p>
          </div>
        </div>
      </section>
      <!-- Section: Text -->

      <!-- Section: Social -->
      <section class="text-center mb-5">
        <a href="" class="text-white me-4">
          <img src="/img/icons/logoFB.svg" alt="logo Facebook"></img>
        </a>
        <a href="" class="text-white me-4">
          <img src="/img/icons/logoHelloAsso.svg" alt="logo HelloAsso"></img>
        </a>
        <a href="" class="text-white me-4">
          <img src="/img/icons/logoFB.svg" alt="logo Facebook"></img>
        </a>
        <a href="" class="text-white me-4">
          <img src="/img/icons/logoHelloAsso.svg" alt="logo HelloAsso"></img>
        </a>
      </section>
      <!-- Section: Social -->
    </div>
    <!-- Grid container -->

    <!-- Copyright -->
    <div
         class="text-center p-3"
         style="background-color: rgba(0, 0, 0, 0.2)"
         >
      © 2024 Copyright:
      <a class="text-white" href="https://mdbootstrap.com/"
         >Taufana Joëlle</a
        >
    </div>
    <!-- Copyright -->
  </footer>
  <!-- Footer -->
