// assets/styles/global.scss

// Importer les variables
@import 'variables';


// Réinitialisation des styles
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
}

// Styles de base
html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  background: $bg-color;
  color: $primary-color;
}

// Importer les styles pour les sections

.container{
  padding: calc(1.5vw + 15px) ;
  
}

// Importer les styles pour les titres
h1, h2{
  font-family: $font-family-title;
  color: $secondary-color;
  font-size: $font-size-large;
  margin: $margin-large 0;
}

h3, h4{
  font-family: $font-family-title;
  color: $secondary-color;
  font-size: $font-size-medium;
  font-weight: 500;
  line-height: 1;
}

h5, h6{
  font-family: $font-family-text;
  font-size: $font-size-text;
  font-weight: 700;
}



// Importer les styles pour les paragraphes

p {
  font-family: $font-family-text;
  color: $primary-color;
  font-size: $font-size-text;
  line-height: 1.2;
}

// Importer les styles pour les liens

a{
  text-decoration: none;
}

// Importer les styles pour les listes
ul, ol {
  margin: 0;
  padding: 0;
}

li {
  font-size: $font-size-text;  
  list-style: none;
}

// Importer les styles pour les formulaires
label , ::placeholder{
  font-size: $font-size-text;
}

.form-control{
  background-color: $bg-color-2;
  border: none;
  border-bottom: calc(0.3vh + 1px) solid $bg-color-nav;
  border-radius: $border-radius-button;

  &:focus{
    background-color: $bg-color-2;
    border: none;
    border-bottom: calc(0.3vh + 1px) solid $bg-color-nav;
    border-radius: $border-radius-button;
    box-shadow: none;
    color: $primary-color;
  }
}

