@mixin button-styles($bg-color, $text-color, $border-color: transparent, $hover-scale: true) {
    display: inline-block;
    padding: 0.8rem 2.5rem;
    border-radius: $border-radius-button;
    font-family: $font-family-text;
    font-size: $font-size-text;
    color: $text-color; 
    letter-spacing: 0.1rem;
    white-space: nowrap;
    font-weight: 600;
    background: $bg-color;
    
    box-shadow: 0rem 0rem 3rem 0.1rem rgba(0, 0, 0, 0.4); 
    transition: color 0.15s ease-in-out, 
                background-color 0.15s ease-in-out,
                border-color 0.15s ease-in-out, 
                box-shadow 0.15s ease-in-out;

    // Styles au survol
    &:hover {
        box-shadow: none; // Supprimer l'ombre au survol pour tous les boutons
    }
}

// Configuration des différents boutons

.button-primary {
    @include button-styles($primary-color, $button-color-text, null, true);
}

.button-secondary {
    @include button-styles($secondary-color, $button-color-text, null, true);
}

.button-warning {
    @include button-styles(transparent, $warning-color, null, false); // Aucune couleur de fond
    color: $warning-color;
    box-shadow: none;
}

.btn-tertiary {
    @include button-styles(transparent, $secondary-color, $secondary-color, true);
}
