{% extends 'base.html.twig' %}

{% block title %}Contact - Lille du Pacifique
{% endblock %}

{% block body %}
	<section class="introContact row">


		<div class="textCallToAction col-lg-5 d-flex flex-column justify-content-evenly align-items-center ">
			<div>
				<h2 class="text-center" data-aos="fade-right" data-aos-duration="2000">Une idée?<br>
					Un renseignement?<br>
					Une question?</h2>
				<p class="text-center">Contacte-nous dès aujourd'hui !</p>
			</div>
			<div class="vectorBottom">
				<a href="#formContactSection" >
					<img src="{{ asset('img/icons/Vector.png') }}" alt="" class="img-fluid" loading="lazy">
				</a>
			</div>
		</div>
		<div class="imgContact col-lg-7">
			<img src="{{ asset('img/photos/visuelContact.webp') }}" alt="Contact Image" class="img-fluid" loading="lazy">
		</div>


	</section>
	<section id="formContactSection" class="formContact ">
		{% include 'composants/formContact.html.twig' %}
	</section>
{% endblock %}
