// assets/styles/pages/home.scss

// Importer les variables et mixins si nécessaire
@import '../variables';
@import '../mixins';

.eroHeader {
    width: 100%;
    // background: url("/public/img/hibiscus.svg") no-repeat 1% 50%;
    // background-size: calc(10vw + 50px);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    @media (max-width: 760px) {
        .eroHeader_content {
            background: hidden;
        }
    }

    .eroHeader_img {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        // Styles pour l'image
        img {
            width: 100%;
            height: 100%;
            display: block;
        }
    }

    .eroHeader_content {

        display: flex;
        flex-direction: column;
        align-items: center;
        gap: $space-medium;
    }

    .eroHeader_info {
        max-width: 780px;

        // Styles pour le conteneur de boutons
        .button_container {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap: $space-medium;
            margin: $margin-text;
        }

        li {
            list-style: disc;
            list-style-position: inside;
        }
    }
}

.chiffres {
    background-color: $bg-color-2;

    .row div {
        border-radius: $border-radius-item;
        min-height: 200px;
        padding: $padding-text;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;

        div {

            background-color: $secondary-color;
            color: white;
            p {
                color: white;
            }
        }
        .nombres {
            font-size: $font-size-large;
            font-weight: bold;
        }
    }

}

.futurEvenement{
    background-color: $bg-color-2;

    .itemEvenement{
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.contact {
    background: url("/public/img/background/backgroundFeuillage.png") no-repeat center;
    background-size: cover;
    min-height: 100vh;
}

.temoignages {
    background-color: $bg-color-2;

    .content {
        .item {

            div{
            background-color: $bg-color;
            border-radius: $border-radius-item;
            text-align: center;
            padding: $padding-large;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;

        }
        }
    }
}