<article class="carteArticle card">
    <img src={{ asset(article.file) }} class="card-img-top" alt="..." loading="lazy" >
    <div class="card-body">
        <h5 class="card-title">{{ article.titre }}</h5>
        <p class="card-text">{{ article.description|u.truncate(100, '...', false)}}</p>
        <a href="{{ path('articlesDetails', {'slug': article.slug}) }}" class="">Voir plus</a>            
    </div>
</article>