<div class="carteArticle card">
    <img src="{{ articles.photo }}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">{{ articles.titre }}</h5>
            <p class="card-text">{{ articles.description|u.truncate(100, '...', false)}}</p>
            <a href="#" class="">Voir plus
            </a>            
        </div>
    </div>