<section class="formContact ">
    <div class="container justify-content-center py-3">
        <h2 class="text-center" data-aos="fade-right">Contacte nous!</h2>
        <div class="container row justify-content-evenly ">
            <form action="" class="row col-lg-5 gy-5 px-5">
            
                <div class="col-md-6">
                    <label for="nom" class="form-label">Name</label>
                    <input type="text" class="form-control form-control-lg" id="nom" placeholder="John Doe">
                </div>
                <div class="col-md-6">
                    <label for="prenom" class="form-label">Prénom</label>
                    <input type="text" class="form-control form-control-lg" id="prenom" placeholder="John Doe">
                </div>
                <div class="">
                    <label for="email" class="form-label">Email address</label>
                    <input type="email" class="form-control form-control-lg" id="email" placeholder="name@example.com">
                </div>
                <div class="">
                    <label for="Objet" class="form-label">Objet</label>
                    <input type="text" class="form-control form-control-lg" id="Objet" placeholder="John Doe">
                </div>
                <div class="">
                    <label for="message" class="form-label">Message</label>
                    <textarea class="form-control form-control-lg" id="message" rows="8" ></textarea>
                </div>
                <div class="d-flex justify-content-end ">
                    <button type="submit" class="button-secondary">Envoyer</button>
                </div>
            </form>
            <div class=" row col-lg-5 gy-5 px-5">
                <h6 class="text-center">Association Lille du Pacifique<br />
                    10 rue Tralala<br />
                    Appt B11<br />
                    59000 Lille<br />
                </h6>
                <div class="infosContact text-center">
                    <div class="d-flex justify-content-evenly">
                        <p class="col">fonction:</p>
                        <p class="col">064845654645</p>
                    </div>
                    <div class="d-flex justify-content-between">
                        <p class="col-6">fonction:</p>
                        <p class="col-6">064845654645</p>
                    </div>
                    <div class="d-flex justify-content-between">
                        <p class="col-6">fonction:</p>
                        <p class="col-6">064845654645</p>
                    </div>
                    <div class="d-flex justify-content-between">
                        <p class="col-6">fonction:</p>
                        <p class="col-6">064845654645</p>
                    </div>
                </div>
            </div> 
        </div>       
    </div>
</section>